## 1) Given two integer numbers return their product. If the product is greater than 1000, then return their sum

Given 1:                               

number1 = 40                           

number2 = 30                           

Expected Output:
                                       
The result is 600  

Given 2:

number1 = 20

number2 = 30

Expected Output:

The result is 70

In [28]:
def mulorsum(a,b):
    c=a*b
    if c<1000:
        return c
    else:
        return a+b
result=mulorsum(20,30)
print("The result is:",result)

result=mulorsum(40,30)
print("The result is:",result)

The result is: 600
The result is: 70

## 2) Given a range of the first 10 numbers, Iterate from the start number to the end number, 
and In each iteration print the sum of the current number and previous number

Expected Output:

Printing current and previous number sum in a range(10)

Current Number 0 Previous Number  0  Sum:  0

Current Number 1 Previous Number  0  Sum:  1

Current Number 2 Previous Number  1  Sum:  3

Current Number 3 Previous Number  2  Sum:  5

Current Number 4 Previous Number  3  Sum:  7

Current Number 5 Previous Number  4  Sum:  9

Current Number 6 Previous Number  5  Sum:  11

Current Number 7 Previous Number  6  Sum:  13

Current Number 8 Previous Number  7  Sum:  15

Current Number 9 Previous Number  8  Sum:  17

In [1]:
def sumnum(num):
    previousnum = 0
    for i in range(num):
        sum= previousnum + i
        print("current number {} previous number {} sum:{}".format(i,previousnum,sum))
        previousnum= i
print("printing current and previous number sum in a range(10)")
sumnum(10)

printing current and previous number sum in a range(10)
current number 0 previous number 0 sum:0
current number 1 previous number 0 sum:1
current number 2 previous number 1 sum:3
current number 3 previous number 2 sum:5
current number 4 previous number 3 sum:7
current number 5 previous number 4 sum:9
current number 6 previous number 5 sum:11
current number 7 previous number 6 sum:13
current number 8 previous number 7 sum:15
current number 9 previous number 8 sum:17

## 3) Given a string, display only those characters which are present at an even index number.
For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:
Orginal String is  pynative

Printing only even index chars

p

n

t

v

In [17]:
inputstr="pynative"
print("The orginal string is",inputstr)
print("Printing only even index chars")
def indexchar(str):
    for i in range(0,len(str)-1,2):
        print(str[i])
indexchar(inputstr)

The orginal string is pynative
Printing only even index chars
p
n
t
v

## 4) Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

For example, removeChars("pynative", 4) so output must be tive.

Note: n must be less than the length of the string.

In [29]:
def removechar(str,n):
    i=str[n:]
    print(i)
removechar("pynative",4)

tive

## 5) Given a list of numbers, return True if first and last number of a list is same

Expected Output:

Given list is  [10, 20, 30, 40, 10]

result is True

Given list is  [10, 20, 30, 40, 50]

result is False

In [23]:
def sameornot(list):
    print("Given list is",list)
    if list[0]==list[-1]:
        return True
    else:
        return False
print(sameornot([10,20,30,40,10]))
print(sameornot([10,20,30,40,50]))

Given list is [10, 20, 30, 40, 10]
True
Given list is [10, 20, 30, 40, 50]
False

## 6) Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]

Divisible of 5 in a list

10

20

55

In [9]:
def divby5(list):
    print("The given list is:",list)
    print("Divisible of 5 in list")
    for i in list:
        if (i % 5 == 0):
            print(i)
divby5([10,20,33,46,55])

The given list is: [10, 20, 33, 46, 55]
Divisible of 5 in list
10
20
55

## 7) Return the count of sub-string “Emma” appears in the given string

Given:

str = "Emma is good developer. Emma is a writer"

Expected Output:

Emma appeared 2 times

In [15]:
str = "Emma is good developer. Emma is a writer"
print(str)
count = str.count("Emma")
print("Emma appeared",count,"times")

Emma is good developer. Emma is a writer
Emma appeared 2 times

## 8) Print the following pattern

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [19]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## 9) Reverse a given number and return true if it is the same as the original number

Expected Output:


original number 121

The original and reverse number is the same


original number 125

The original and reverse number is not same

In [33]:
def reversecheck(number):
    print("The orginal number",number)
    orginalnum=number
    reversenum=0
    while(number>0):
        reminder = number % 10
        reversenum = (reversenum * 10) + reminder
        number = number // 10
    if(orginalnum == reversenum):
        return True
    else:
        return False

print("The orginal and reverse number is same:",reversecheck(121))
print("The orginal and reverse number is same:",reversecheck(125))

The orginal number 121
The orginal and reverse number is same: True
The orginal number 125
The orginal and reverse number is same: False

## 10) Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

Expected Output:

list1 =  [10, 20, 23, 11, 17]

list 2 = [13, 43, 24, 36, 12]

result List is [23, 11, 17, 24, 36, 12]

In [34]:
def oddeven(list1,list2):
    result=[]
    print("The list1 is:",list1)
    print("The list2 is:",list2)
    for i in list1:
        if i % 2 == 1:
            result.append(i)
    for j in list2:
        if j % 2 == 0:
            result.append(j)
    print("Result list is",result)
oddeven([10,20,23,11,17],[13,43,24,36,12])

The list1 is: [10, 20, 23, 11, 17]
The list2 is: [13, 43, 24, 36, 12]
Result list is [23, 11, 17, 24, 36, 12]

 ## 11) Write a code to extract each digit from an integer, in the reverse order

Expected Output:

If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [44]:
number = 7536
print("Given number", number)
while (number > 0):
    digit = number % 10
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

## 12) Calculate income tax for the given income by adhering to the below rules

Taxable Income	Rate (in %)

First $10,000	0

Next $10,000	10

The remaining	20

Expected Output:

For example, suppose that the taxable income is $45000 the income tax payable is

10000 * 0 % + 10000 * 10 %  + 25000 * 20 % = 6000

In [43]:
income = 15000
taxpayable = 0
print("Given income", income)
if income <= 10000:
    taxpayable = 0
elif income <= 20000:
    taxpayable = (income - 10000)*10/100
else:
    taxpayable = 0
    taxpayable = 10000*10/100
    taxpayable += (income - 20000)*20/100
    
print("The total tax to pay is",taxpayable)

Given income 15000
The total tax to pay is 500.0

## 13) Print multiplication table form 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [71]:
for i in range(1,11):
    a = i * 1
    b = i * 2
    c = i * 3
    d = i * 4
    e = i * 5
    f = i * 6
    g = i * 7
    h = i * 8
    k = i * 9
    j = i * 10
    print(a,b,c,d,e,f,g,h,k,j,end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

#                                              OR

In [66]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

## 14) Print downward Half-Pyramid Pattern with Star (asterisk)

In [75]:
for i in range(5):
    for j in range(5-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

## 15) Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2

exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5

exponent = 4

5 raises to the power of 4 is: 625 

i.e. (5 *5 * 5 *5 = 625)

In [76]:
def exponent(base,exp):
    result = base ** exp
    print("{} raises to the power of {} = {} ".format(base,exp,result))
exponent(2,5)
exponent(5,4)

2 raises to the power of 5 = 32
5 raises to the power of 4 = 625